version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge